.PreApp {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
}

.diffDiv {
  display: grid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%
}

.diffBtn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 0.1em;
}

.gamerow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%
}


.gameBoard {
  display: grid;
  grid-template-columns: repeat(9, min-content);
  /* das ist mega cool ↑ */

  user-select: none;

}

.numpad {
  display: grid;
  margin-top: 5vh;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: repeat(3, min-content);

  user-select: none;

}

.numberButton {
  width: 5vh;
  height: 5vh;
  font-size: 1.5em;
}

button.numberComplete {
  background-color: forestgreen;
}

button.numberTooMany {
  background-color: rgb(255, 45, 45);
}

.candidateButton {
  display: grid;
  width: 5vh;
  height: 5vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

}

.toolbarButton {
  margin-top: 1em;
}

.SaveGameButton {
  margin-bottom: 1em;
}

.cell {
  width: 5vh;
  height: 5vh;
  outline: 1px solid black;
  font-size: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color: #3c4cfd;
}

.locked {
  background-color: gray !important;
}

.cellCandidatesWrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  font-size: 0.5em;
}

.completedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.closeOverlayButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

/**
 * 
 */
.backToMenuButton {
  /* 
    Removed position: absolute from here, bc. on Mobile it obstructs the header.
    By removing the "position: absolute" we join this button into the main, top-to-bottom flexbox for layouting
  */
  font-size: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}

/*
_____________________________________________________ 
Sudoku Board Border 
*/

.col2,
.col5,
.col8 {
  border-right: 5px solid black;
}

.row2,
.row5,
.row8 {
  border-bottom: 5px solid black;
}

.row0 {
  border-top: 5px solid black;
}

.col0 {
  border-left: 5px solid black;
}

/* 
 * @bjesuiter
 * Best Breakpoint for main Game Screen: 530px 
 * Best Breakpoint for Difficulty Selection Screen: 580px;
 * => Choosing 580px for now to not obstruct heading in Difficulty Selection
*/
@media screen and (min-width: 580px) {

  .backToMenuButton {
    position: absolute;
    top: 0;
    left: 0;
  }

}